/* begin Page */
#art-page-background-glare-image
{
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin Box, Sheet */
.art-sheet-tl
{
  clip: rect(auto 6px 6px auto);
}

.art-sheet-tr
{
  clip: rect(auto auto 6px 6px);
}

.art-sheet-bl
{
  clip: rect(6px 6px auto auto);
}

.art-sheet-br
{
  clip: rect(6px auto auto 6px);
}

.art-sheet-tc
{
  clip: rect(auto auto 6px auto);
}

.art-sheet-bc
{
  clip: rect(6px auto auto auto);
}

.art-sheet-cr
{
  clip: rect(auto auto auto 6px);
}

.art-sheet-cl
{
  clip: rect(auto 6px auto auto);
}

.art-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{
  clip: rect(auto auto auto 998px);
}

/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
  clip: rect(auto auto auto 409px);
}
/* end MenuItem */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block */

.art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader .r
{
  clip: rect(auto auto auto 974px);
}
/* end BlockHeader */

/* begin Box, BlockContent */

.art-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper .art-button-r
{
  clip: rect(auto auto auto 408px);
}
/* end Button */

/* begin Box, Post */
.art-post-tl
{
  clip: rect(auto 23px 23px auto);
}

.art-post-tr
{
  clip: rect(auto auto 23px 23px);
}

.art-post-bl
{
  clip: rect(23px 23px auto auto);
}

.art-post-br
{
  clip: rect(23px auto auto 23px);
}

.art-post-tc
{
  clip: rect(auto auto 23px auto);
}

.art-post-bc
{
  clip: rect(23px auto auto auto);
}

.art-post-cr
{
  clip: rect(auto auto auto 23px);
}

.art-post-cl
{
  clip: rect(auto 23px auto auto);
}

.art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.art-footer-r
{
  clip: rect(auto auto auto 5px);
}

/* end Footer */

/* begin LayoutCell, content */
.art-content {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {  zoom:1; }
.art-layout-cell .art-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */


